@model WebSite.EndPoint.Models.AccountingViewModel.Register.CreateCompanyMV
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="wrapper default">
    <div class=" container">
        @if (ViewData["error"] is not null)
        {
            <div id="errorMessage" class="row">
                <p style="color:red;">@ViewData["error"]</p>
            </div>
        }

        

        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box pb-2">
                    <div class="account-box-title text-right">ثبت نام</div>
                    <div class="account-box-content">
                        <form autocomplete="off" asp-action="Register" asp-controller="Register" class="form-account">
                            <div class="form-account-title">شماره موبایل</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>
                                <input 
                                    autocomplete="tel"
                                    oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" 
                                    asp-for=Mobile 
                                    class="input-field" 
                                    readonly 
                                    value="@Model.Mobile" 
                                    type="tel">
                                <span class="text-danger" asp-validation-for=Mobile></span>
                            </div>
                            <div class="form-account-title">نام شرکت</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </label>
                                <input autocomplete="new-companyName" asp-for=CompanyName class="input-field" style="text-align:right; padding-right:50px;">
                                <span class="text-danger" asp-validation-for=CompanyName></span>
                            </div>
                            <div class="form-account-title">نام مدیر</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                </label>
                                <input autocomplete="new-ManagerName" asp-for=ManagerName class="input-field" style="text-align:right; padding-right:50px;">
                                <span class="text-danger" asp-validation-for=ManagerName></span>
                            </div>
                            <div class="form-account-title">ایمیل</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </label>
                                <input autocomplete="new-email" asp-for=Email class="input-field" type="email">
                                <span class="text-danger" asp-validation-for=Email></span>
                            </div>
                            <div class="form-account-title">آدرس</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </label>
                                <input asp-for=Address class="input-field" style="text-align:right; padding-right:50px;">
                                <span class="text-danger" asp-validation-for=Address></span>
                            </div>
                            <div class="form-account-title">رمز عبور</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </label>
                                <input autocomplete="new-password" asp-for=Password class="input-field" type="password">
                                <span style="color:#7F7F7F; display:block">رمز عبور باید حداقل 6 کارکتر باشد</span>
                                <span class="text-danger" asp-validation-for=Password></span>
                            </div>
                            <div class="form-account-title">تکرار رمز عبور</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </label>
                                <input asp-for=PasswordConfirm class="input-field" type="password">
                                <span class="text-danger" asp-validation-for=PasswordConfirm></span>
                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ثبت نام
                                        <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        setTimeout(function() {
            var errorMsg = document.getElementById("errorMessage");
            if (errorMsg) {
                errorMsg.style.display = "none";
            }
        }, 5000);  // بعد از 5 ثانیه مخفی شود
    </script>
}