@model WebSite.EndPoint.Areas.Company.Models.Profile.PasswordEditVm
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "ChangePassword";
}
<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">تغییر رمز عبور</span>
    </div>
    @if (ViewData["error"] is not null)
    {
        <div class="row">
            <p class="text-danger border-5">@ViewData["error"].ToString()</p>
        </div>
    }
    <div>
        <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
    </div>
    <div style="margin-top:20px;">
        <form id="saveForm" asp-area="Company" asp-controller="CompanyProfile" asp-action="ChangePassword" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label input-Label">رمز عبور فعلی</label>
                <div class="col-sm-4">
                    <input type="password" asp-for="CurrentPassword" class="input-text">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label input-Label">رمز عبور جدید</label>
                <div class="col-sm-4">
                    <input type="password" asp-for="NewPassword" class="input-text">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label input-Label">تکرار رمز عبور جدید</label>
                <div class="col-sm-4">
                    <input type="password" asp-for="ComparePassword" class="input-text">
                    <span asp-validation-for="ComparePassword" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });
    </script>
}