.btn-submit {
    background-color: #00A2FF;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
}

.btn-submit-disable {
    background-color: #C3C3C3;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
}

.img-Icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: 0.4s;
}

.img-Icon:hover {
    transform: scale(1.2,1.2);
}

.input-Label{
    text-align:left;
    margin-top:5px;
}

.input-text{
    width:100%;
    padding:5px;
}

.input-text:hover,
.input-text:focus {
    border-color: deepskyblue;
}

.ShowPic {
    width: 150px;
    height: 150px;
    border-style: groove;
    margin-right:20px;
}

.ShowPicProduct {
    width: 150px;
    height: 150px;
    border-style: groove;
}

.addPicList {
    position: absolute;
    bottom: 0;
    margin-right: 20px;
}

.tbStyle th{
    text-align:center !important;
}

td.td-Icon {
    text-align: center !important;
}

.upBtn{
    text-align:left;
}

.upBtnProduct {
    text-align: right;
}

.firstItem{
    margin-top:20px;
    padding:50px;
}

.largerCheckbox{
    width:20px;
    height:20px;
}

.companySpan{
    padding:10px;
}

.labelText{
    display:block;
}

.userEditRow{
    margin-bottom:10px;
}

.nav-cls{
    padding:10px;
}

.nav-Icon{
    width: 20px;
    height: 20px;
}

.nav-Date{
    margin-top: 15px;
    margin-right: 20px;
}

.welcome{
    padding-right:20px;
}

.nav-welcome {
    margin-top: 15px;
    font-size: 18px
}

.nav-companyName {
    text-align: right;
    padding: 10px;
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-NameIcon {
    width: 20px;
    height: 20px;
}

.menu {
    margin-top:20px;
    background-color: #FFF !important;
    border-radius: 25px;
    margin-right: 20px;
    padding-top: 20px;
}

.profile-Pic {
    width: 100%;
    text-align: center
}

.profile-Pic-btn {
    border-radius: 50%;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profile-Pic-img {
    width: 100px;
    height: 100px
}

.menu-Item {
    margin-top: 20px;
}

.menu-Item-Text {
    padding-right: 10px;
    color: #000000
}

.pageName {
    background-color: #F0F0F0;
    width: 100%;
    border-radius:5px;
    padding:5px;
}

.textPage {
    color: #001594;
    margin-right:10px;
}


.list li {
    display: inline-block;
    border-left: 2px solid;
    padding: 5px;
}

    .list li:last-child {
        border-left: none;
    }

.category-Pic {
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.category-Pic-img {
    width: 100px;
    height: 100px;
}