.btn-submit {
    background-color: #00A2FF;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color:white;
}

.btn-submit-disable {
    background-color: #C3C3C3;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
}

.img-Icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: 0.4s;
}

.img-Icon:hover {
    transform: scale(1.2,1.2);
}

.input-Label{
    text-align:left;
    margin-top:5px;
}

.input-text{
    width:100%;
    padding:5px;
}

.input-text:hover,
.input-text:focus {
    border-color: deepskyblue;
}

.ShowPic {
    width: 130px;
    height: 130px;
    border-style: groove;
    margin-right:20px;
}

.ShowPicProduct {
    width: 130px;
    height: 130px;
    border-style: groove;
}

.addPicList {
/*    position: absolute;*/
    bottom: 0;
    margin-right: 20px;
}

.tbStyle th{
    text-align:center !important;
}

td.td-Icon {
    text-align: center !important;
}

.upBtn{
    text-align:left;
}

.upBtnProduct {
    text-align: right;
    margin-bottom:10px;
}

.firstItem{
    margin-top:20px;
    padding:50px;
}

.largerCheckbox{
    width:20px;
    height:20px;
}

.companySpan{
    padding:10px;
}

.labelText{
    display:block;
}

.userEditRow{
    margin-bottom:10px;
}

.nav-cls{
    padding:10px;
}

.nav-Icon{
    width: 20px;
    height: 20px;
}

.nav-Date{
    margin-top: 15px;
    margin-right: 20px;
}

.welcome{
    padding-right:50px;
    display:inline-block;
}

.nav-welcome {
    margin-top: 15px;
    font-size: 18px
}

.nav-companyName {
    text-align: right;
    padding: 10px;
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-NameIcon {
    width: 20px;
    height: 20px;
}

.menu {
    background-color: #FFF !important;
    border-radius: 25px;
    margin: 20px 20px 0;
    padding-top: 20px;
}

.profile-Pic {
    width: 100%;
    text-align: center
}

.profile-Pic-btn {
    border-radius: 50%;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.profile-Pic-img {
    width: 100px;
    height: 100px
}

.menu-Item {
    margin-top: 20px;
}

.menu-Item-Text {
    padding-right: 10px;
    color: #000000
}

.pageName {
    background-color: #F0F0F0;
    width: 100%;
    border-radius:5px;
    padding:5px;
}

.textPage {
    color: #001594;
    margin-right:10px;
}


.list li {
    display: inline-block;
    border-left: 2px solid;
    padding: 5px;
}

    .list li:last-child {
        border-left: none;
    }

.category-Pic {
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.category-Pic-img {
    width: 100px;
    height: 100px;
}

@media (max-width: 1000px) {
    .hide-on-sm {
        display: none !important;
    }
}

.activeAreasMenu {
    background-color: #D8FFFE;
}

.banner {
    width: 100%;
    height: 200px;
}

.owl-carousel .owl-nav button.owl-next{
    display:none;
}

.owl-carousel .owl-nav button.owl-prev{
    display: none;
}

.pageMargin{
    margin-top: 30px;
}

.notif {
    margin-top: 30px;
    border: 2px solid #D9D9D9;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.routing {
    border-radius: 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.productPic {
    width: 70%;
    height: 300px;
    justify-content: center;
    margin-right: 15%;
}

.productImg {
    padding-right: 30%;
    max-height: 290px;
}

.blog-div-img {
    margin-bottom: 30px;
}

.blog-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.blog-height {
    height: 300px;
}

.blog-video {
    height: 300px;
}

.productLogo {
    display: flex;
    align-items: center;
}

.img-video-width {
    width: 80%;
}

.notDisplay {
    display: none !important;
}

.rubyDisplay {
    display: ruby;
}

.a-btn {
    text-align: center;
    width: 100px
}

.a-btn-center {
    text-align: center;
}

.text-btn {
    color: white;
}

.changePassHelp {
    color: #7F7F7F;
    display: block
}

.menuIcon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.btnUpload {
    /* width: 100%; */
}

.uploadDiv {
    margin-top: 10px;
}

.prevImage {
    width: 100%;
    height: 100%;
}

.banner-video {
    width: 100%;
    max-height: 150px;
}

.marginRight {
    margin-Right: 10px;
}

.marginLeft {
    margin-left: 40px;
}

.error-text {
    color: red;
}

.a-btn-new {
    text-align: center;
    width: 160px;
    margin: 20px;
}
.a-btn-new170 {
    width: 170px;
}

.tb-header {
    text-align: center !important;
}

.videoPack {
    display: flex;
    align-items: center;
}

.marginTop {
    margin-top: 10px
}

.marginLeft10 {
    margin-left: 10px;
}

.btnAddTBPack {
    display: flex;
}

.btnAddTBPack1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnAddTBPack2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin-top: 10px;
    flex-direction: row;
}

.btnSize {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.bodyHeight {
    min-height: 100vh !important;
}

.wrapper {
    min-height: 100vh !important;
    background-color: #EEEEEE !important;
}

.displayInline {
    display: inline-block;
}

.companyName {
    display: inline-block;
    float: left;
}

.animationTime {
    animation-duration: 800ms;
}

.bgColor {
    background-color: #EEEEEE !important;
}

.body-Error {
    background: #0414a7;
    color: #e0e2f4;
    font-family: 'VT323', monospace;
    text-align: center;
    padding-top: 10%;
}

.h1-Size {
    font-size: 2.75rem;
    margin-bottom: 50px;
}

.p-Size {
    font-size: 20px;
}

.container-Error {
    width: 90%;
    margin: auto;
    max-width: 640px;
}

.bg-Span {
    background: #aaaaaa;
    padding: 0 15px;
    display: inline-block;
    color: #0414a7;
}

.text-danger {
    font-size: 12px !important;
    color: red !important;
}

.margin0 {
    margin: 0;
}

.marginTop15 {
    margin-top: 15px;
}

.notSeenNotif {
    border: 2px solid black !important;
    font-weight: bold;
}

.notifTitle {
    display: flex;
    justify-content: space-between;
}

.notifMore {
    float: left;
}

.bodyCompany {
    height: 100% !important
}

.footerStyle {
    background-color: #EEEEEE;
    border: none;
}

.card {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:100%;
}

.cardList {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.companyLogo {
    border-radius: 50%;
    background-color: #003C61;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin: 5px auto
}

.companyInfo {
    background-color: #ECECEC;
    padding: 10px;
}

.aboutCompany {
    text-align: justify;
    text-justify: inter-word
}

.searchProduct {
    width: 100%;
    border: 0;
}

input::placeholder {
    color: #C3C3C3;
    text-align: center;
}

input:focus {
    outline: none;
}

.btnSearch {
    background-color: #00A2FF;
    width: 100%;
    align-items: center;
}

.productCard {
    background-color: #003C61;
    z-index: 1;
    height: 320px;
    position: relative;
}

.productDetail {
    color: #FFFFFF;
}

.productDetailLoc {
    text-align: center;
    bottom: 0px;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
}

.productCard1 {
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 10px;
    width: 100%;
    height: 265px;
    position: relative;
}

.productName {
    color: #000000;
    font-size: 12px;
}

.productCard2 {
    background-color: #003C61;
    z-index: 3;
    border-radius: 10px;
    margin: 0 auto;
    height: 160px;
    width: 160px;
    position: relative;
    margin-top: 15px;
}

.hasImg {
    background-color: #FFFFFF;
}

.padding0 {
    padding: 0;
}

.CompanyDetailPos {
    justify-content: center;
    align-items: center;
    display: flex;
}

.center-align {
    text-align: center;
}

.about-Color {
    color: #003C61;
}

.productSection {
    height: 30px;
    text-align: center;
}

.searchSeller {
    background-color: white;
    height: 46px;
    margin-bottom: 10px;
}

.width100 {
    width: 100%;
}

.persianFont {
    font-size: 4vw;
}

.englishFont {
    font-size: 2vw
}

.searchBar {
    padding: 0 1em;
}

.searchBarInput {
    height: auto !important;
    border-radius: 0 !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.searchBarDrop {
    border-radius: 0;
    padding: 14px 20px;
}

.searchBarBtn {
    padding: 14px 20px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}