@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container-fluid">
    <div>
        <a href="#" id="new"> <img class="img-Icon" src="~/images/addition copy.png" /> </a>
        <a hidden href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
        <a hidden href="#" id="cancle"><img class="img-Icon" src="~/images/cancel.png" /></a>
    </div>
    <div hidden id="newForm" class="row">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label input-Label">گروه اصلی:</label>
                <div class="col-sm-4">
                    <select class="input-text">
                        <option selected>یک گروه اصلی را انتخاب کنید</option>
                        <option>گزینه 1</option>
                        <option>گزینه21</option>
                        <option>گزینه3</option>
                        <option>گزینه41</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label input-Label">نام گروه فرعی:</label>
                <div class="col-sm-4">
                    <input type="text" class="input-text" id="staticEmail">
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>نام گروه اصلی</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-Icon">1</td>
                    <td>Row</td>
                    <td>Row 1 Data 2</td>
                    <td class="td-Icon"><a href="#" id="edit"><img class="img-Icon" src="~/images/editing.png" /></a></td>
                    <td class="td-Icon"><a><img class="img-Icon" src="~/images\recycle.png" /></a></td>
                </tr>
                <tr>
                    <td class="td-Icon">2</td>
                    <td>Rod</td>
                    <td>Row 1 Data 2</td>
                    <td class="td-Icon"><a href="#" id="edit"><img class="img-Icon" src="~/images/editing.png" /></a></td>
                    <td class="td-Icon"><a><img class="img-Icon" src="~/images\recycle.png" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        new DataTable('#myTable');

        $("#new").click(function(){
            $("#newForm").show();
            $("#save").show();
        });

        function HideForm()
        {
            $("#newForm").hide();
        }

        $("#save").click(function(){
            HideForm();
        });

        $("#cancle").click(function(){
            HideForm();
            $("#save").hide();
        });

        $("#edit").click(function(){
            $("#newForm").show();
            $("#save").show();
        });

    </script>


}