@using AQS_Application.Interfaces.IServices.IdentityServices
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILoginService _loginService
@inject IRegistrationService _registrationService
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>داشبورد</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/css/datatables.min.css" rel="stylesheet" />

    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/css/rtl.css" rel="stylesheet" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect. -->
    @*     <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
 *@    <link href="~/css/skin-blue.min.css" rel="stylesheet" />
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- customize adminlte -->
    <link href="~/css/customize-adminlte.css" rel="stylesheet" />
    <link href="~/css/CustomDashboard.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/rte_theme_default.css" rel="stylesheet" />
    @await RenderSectionAsync("CSS", required: false)
</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini" style="height:100% !important">
    <div class="wrapper" style="background-color:#EEEEEE">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="row nav-cls">
                    <div class="col-md-4">
                        <ul class="nav navbar-nav">
                            <!-- Back to home page -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="nav-Icon" src="~/images/home.png" />
                                </a>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="nav-Icon" src="~/images/notification copy.png">
                                    <span class="label label-warning">۱۰</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">۱۰ اعلان جدید</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره یک
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره دو
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره سه
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره چهار
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره پنج
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">نمایش همه</a></li>
                                </ul>
                            </li>
                            <!-- Show Date -->
                            <li class="dropdown notifications-menu">
                                @{
                                    var nowDatePersian = DateTime.Now.ToPersianDateWithFormat();
                                 }
                                <p class="nav-Date">  @nowDatePersian </p>
                            </li>
                        </ul>
                    </div>
                    <!-- Hello to user -->
                    <div class="col-md-6 welcome">
                        <p class="nav-welcome">به انجمن قطعه سازان موتور سیکلت خوش آمدید </p>
                    </div>
                    <!-- Welcome text -->
                    <div class="col-md-2">
                        <div class="nav-companyName">
                            <img class="nav-NameIcon" src="~/images/user.png" />
                            @{
                                var managerName = "";
                                if (User.Identity.IsAuthenticated)
                                {
                                     managerName = await _loginService.GetManagerNameByClaims(User);
                                }
                                if (managerName != null )
                                {
                                    <span> @managerName</span>
                                }
                                else
                                {
                                    <span>نام شرکت ثبت نشده است</span>
                                }
                            }
                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <div class="container-fluid">
            <div class="col-md-2 menu">
                <div class="profile-Pic">
                    <button class="profile-Pic-btn">
                        <img class="profile-Pic-img" src="~/images/add user.png" />
                    </button>
                </div>
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu menu-Item" data-widget="tree">
                        <!-- User Profile -->
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=EditCompanyProfile>
                                <img class="nav-NameIcon" src="~/images/user.png" />
                                <span class="menu-Item-Text">پروفایل کاربری</span>
                            </a>
                        </li>
                        <!-- Change Password -->
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=ChangePassword>
                                <img class="nav-NameIcon" src="~/images/lock copy.png"/>
                                <span class="menu-Item-Text">تغییر رمز عبور</span>
                            </a>
                        </li>
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyPicture asp-action=Pictures>
                                <img class="nav-NameIcon" src="~/images/image copy.png"/>
                                <span class="menu-Item-Text">گالری تصاویر</span>
                            </a>
                        </li>
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=CompanyProfile asp-action=EditTeaser>
                                <img class="nav-NameIcon" src="~/images/clapperboard copy.png"/>
                                <span class="menu-Item-Text">تیزر تبلیغاتی</span>
                            </a>
                        </li>
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller=Product asp-action=ProductList>
                                <img class="nav-NameIcon" src="~/images/product copy.png"/>
                                <span class="menu-Item-Text">محصولات</span>
                            </a>
                        </li>
                        <li class="dropdown notifications-menu Dashboard-hover">
                            <a asp-area="Company" asp-controller="Notification" asp-action="NotifList">
                                <img class="nav-NameIcon" src="~/images/notification copy.png"/>
                                <span class="menu-Item-Text">اعلان‌ها</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </div>

            <!-- Content Wrapper. Contains page content -->
            <div class="col-md-9 menu">
                <!-- Content Header (Page header) -->
                <section class="content container-fluid">
                    @RenderBody()


                </section>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer text-left" style="background-color:#EEEEEE">
            <strong>
                @*                 Copyleft &copy; 2014-2017 <a href="https://adminlte.io">Almsaeed Studio</a> & <a href="http://hosseinizadeh.ir/adminlte">Alireza Hosseinizadeh</a>
 *@            </strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">فعالیت ها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">تولد غلوم</h4>

                                    <p>۲۴ مرداد</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">پیشرفت کارها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    آپدیت لاراول
                                    <span class="pull-left-container">
                                        <span class="label label-danger pull-left">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">تب وضعیت</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                گزارش کنترلر پنل
                                <input type="checkbox" class="pull-left" checked>
                            </label>

                            <p>
                                ثبت تمامی فعالیت های مدیران
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <script src="~/js/admin/jquery.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/admin/bootstrap.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <!-- RichTextEditor -->
    <script src="~/js/rte.js"></script>
    <script src="~/js/all_plugins.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
       Both of these plugins are recommended to enhance the
       user experience. -->
</body>

</html>