@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
}

<div class="contaienr">
    <div>
        <a href="#" id="new"> <img class="img-Icon" src="~/images/addition copy.png" /> </a>
        <a hidden href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
        <a hidden href="#" id="cancle"><img class="img-Icon" src="~/images/cancel.png" /></a>
    </div>
    <div hidden id="newForm" style="margin-top:20px;">
        <form>
            <div class="form-group row">
                <div class="col-sm-2 upBtn">
                    <button class="btn-submit btnUpload" onclick="getfile()">بارگذاری تصویر</button>
                    <input id="getFile" style="display:none" class="form-control-file" type="file" name="img" accept="image/*">
                </div>
                <div class="col-sm-2 ShowPic"></div>
                <div class="col-sm-8">
                    <sapn>حداکثر حجم مجاز جهت بارگذاری فایل 200 کیلو بایت است.</sapn>
                </div>
            </div>
        </form>
    </div>
    <div>
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>تصویر بارگذاری شده</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-Icon">1</td>
                    <td></td>
                    <td class="td-Icon"><a href="#"><img class="img-Icon" src="~/images/recycle.png" /></a></td>
                </tr>
                <tr>
                    <td class="td-Icon">1</td>
                    <td></td>
                    <td class="td-Icon"><a href="#"><img class="img-Icon" src="~/images/recycle.png" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        new DataTable('#myTable');

        $("#new").click(function(){
            $("#newForm").show();
            $("#save").show();
            $("#cancle").show();
        });

        function HideForm()
        {
            $("#newForm").hide();
        }

        $("#save").click(function(){
            HideForm();
        });

        $("#cancle").click(function(){
            HideForm();
            $("#save").hide();
            $("#cancle").hide();
        });

         $("#edit").click(function(){
            $("#newForm").show();
            $("#save").show();
        });

        function getfile () {
            document.querySelector('#getFile').click();
        }

    </script>


}