@{
    ViewData["Title"] = "About Us";
}
<div class="body-default container">
    <h2 class="header-default">اهداف انجمن</h2>
    <div class="row">
        <div class="col-md-6">
            <div>
                @* <p class="text-justify">تولیدکنندگان محترم قطعات و مجموعه های موتورسیکلت و دوچرخه همانطور که مطلع هستید فقدان استراتژی اقتصادی، کشور توانمند ما را وابسته به فروش نفت و تزریق ارزهای حاصل به واردات بی رویه در تمامی بخشها ، منجمله صنعت خودرو و خصوصا صنعت موتورسیکلت و دوچرخه طی سالیان اخیرنموده است . ماحصل این چرخه معیوب ، موجب وابستگی کامل به واردات کلیه قطعات ، عدم اسـتفـاده از مزیتهـای رقابـتی در بخـش قطعه و مجـموعـه سـازی ، عـدم ارائه خدمـات پـس از فــروش بـه مصرف کنندگان، استفاده نابجا و غیراقتصادی از ارز کشور و در یک کلام ضرر اقتصادی کشور و سود شرکتهای چینی ، هندی و عده خاصی وارد کننده گردیده است .<br>اکنون با توجه به شـرایط اقتصـادی به وجود آمده ، کشور با تراز منفی صادرات نسـبت به واردات مواجه شده و کمبود ارز ، دولتمردان را مجبور به استفاده از پتانسیل ساخت داخل در تمامی بخشها نموده است .<br>در این رابطه اداره کل خودرو وزارت صنایع با هماهنگی دو تشکل قطعه سازان و موتورسیکلت سازان ، اقدام به تهیه سند راهـبردی صـنعت موتورسیکلت و دوچرخه نموده است و در گام اول با امضاء تفـاهم نامه سه جانبه، مقدمات اجرای این سند ، فراهم گردیده است.اکنون با تشکیل کارگروه مشترک که تصویر آن تقدیم میگردد ، با تعیین پلتفرمهای چهارگانه و همچنین تشکیل میز ساخت داخل این مدلها ، برنامه ریزی جـهت تعیین قطعـات موضوع بومـی سـازی ، زمان بندی اجرای این تفـاهم نامه و معرفی قطـعه سازان ممیزی شده وتعیین و اجـرای قراردادهای تـامین قطعات ، تلاش منسجم و هدفمندی جـهت بومـی سازی قطعات موتورسیکلت و دوچرخه با هـدایت و پشتـیبانی اداره کل خودرو وزارت صـنایع و تلاش اعضـاء دو تشـکل صـورت پذیـرفته و از هم اکنـونقراردادهای سال آینده جهت تامین قطعات یدکی در حال انجام می باشد.<br>با توجه به شرایط فوق الذکر از یک طرف و همچنین پیش بینی تولید حداقل یک میلیون دستگاه موتورسیکلت و بیش از دو میلیون دستگاه دوچرخه در سال از طرف دیگر، افق بسیار مطلوبی پیش روی قطعه سازان محترم قرار&nbsp;گرفـته است تا با همـاهنگی انجـمن صنفی بتوانیم در جایگاه مطـلوب خود قرار گرفـته و نقـش مؤثر در بومی سازی حداکثری قطعات را ایفا نمائیم .<br>لذا هیئت مدیره انجمن تولیدکنندگان قطعات و مجموعه های موتورسیکلت و دوچرخه با دعوت از کلیه فعالان صنعتی در این بخش جهت حضور و مـشارکت فعال در ساماندهی انجمن و تشکیل کارگروهـهای الزم و عقـد قراردادهای تاَمین قطعـات با سازندگان موتورسـیکلت و دوچرخه ، تقاضای استفاده مؤثر و حداکثری از شرایط بسیار مساعد پیش رو را درخواست می نماید.</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; با تشکّر و آرزوی توفیق <br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ریاست هیئت مدیره</p>
            *@ 
                @Html.Raw(ViewBag.AboutUsContent)
        </div>
        </div>
        <div class="col-md-6">
            <img class="rounded img-fluid" src="~/images/76.jpg" />
        </div>
    </div>
        <a class="btn btn-primary">تماس با ما</a>
</div>