@{
    ViewData["SelectedHome"] = "AboutUs";
}
<div class="body-default container">
    <div class="row">
        <div>
            @Html.Raw(ViewBag.AboutUsContent)
        </div>
    </div>
    <a class="btn btn-primary" href="@Url.Action("ContactUs","ContactUs")">تماس با ما</a>
</div>