<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>داشبورد</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/css/rtl.css" rel="stylesheet" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
       page. However, you can choose any other skin. Make sure you
       apply the skin class to the body tag so the changes take effect. -->
    @*     <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
 *@    <link href="~/css/skin-blue.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- customize adminlte -->
    <link href="~/css/customize-adminlte.css" rel="stylesheet" />

    <link href="~/css/CustomDashboard.css" rel="stylesheet" />
@*     <link href="~/css/site.css" rel="stylesheet" />
 *@</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="background-color:#EEEEEE">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" style='margin-right:0px ; background-color:#d5d6db ; height:80px'>
                <div class="navbar-custom-menu" style="float:right ; width:30% ; margin-top: 10px; ">
                    <ul class="nav navbar-nav">
                        <!-- Back to home page -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/images/home.png" style="width:20px ; height:20px "/>
                                </a>
                            </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/notification copy.png" style="width:20px ; height:20px ">
                                <span class="label label-warning">۱۰</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">۱۰ اعلان جدید</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#"> 
                                                <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره یک
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره دو
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره سه
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره چهار
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> عنوان اعلان شماره پنج
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">نمایش همه</a></li>
                            </ul>
                        </li>
                        <!-- Show Date -->
                        <li class="dropdown notifications-menu">
                            <p style="margin-top:15px ; margin-right:20px">امروز: ۱۹ آذر 1403</p>
                        </li>
                    </ul>
                </div>
                <!-- Hello to user -->
                <div style="text-align:center ; 
                            margin-top:10px ; 
                            width:40% ;
                            float:right"
                >
                    <p style="margin-top:15px; font-size:20px">به انجمن قطعه سازان موتور سیکلت خوش آمدید </p>
                </div>
                <!-- Welcome text -->
                <div style="text-align:center ; margin-top:10px ; float:left ; margin-left:10px">
                    <button disabled 
                            style="margin-top:5px;
                                   background-color:lightskyblue ;
                                   border:none; height:50px;
                                   border-radius:20px;
                                   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                        <img src="~/images/user.png" style="width:20px ; height:20px;margin-top:-5px " />
                        سلام: توکا
                    </button>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <div>
        <aside class="main-sidebar" style="margin-top:100px;
                                           background-color:white;
                                           border-radius:25px;
                                           margin-right:20px;
                                           margin-left:20px;
                                           padding-top: 20px;
                                           float:right;
                                           width:20%">
            <div style="width:100%; text-align:center">
                <button style="border-radius:50%;
                               border:none;
                               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);">
                    <img src="~/images/add user.png" style="width:100px ; height:100px " />
                </button>
            </div>
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree" style="margin-top:20px; margin-right:10px">
                    <!-- User Profile -->
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                        <img src="~/images/user.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">پروفایل کاربری</span>
                        </a>
                    </li>
                    <!-- Change Password -->
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                            <img src="~/images/user.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">تغییر رمز عبور</span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                            <img src="~/images/image copy.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">گالری تصاویر</span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                            <img src="~/images/clapperboard copy.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">تیزر تبلیغاتی</span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                            <img src="~/images/product copy.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">محصولات</span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu Dashboard-hover" style="margin-bottom:10px">
                        <a href="#">
                            <img src="~/images/notification copy.png" style="width:20px ; height:20px" />
                            <span style="padding-right:10px; color:#000000">اعلان‌ها</span>
                        </a>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" 
             style="float:left; 
                    width:75%; 
                    margin-top:25px; 
                    background-color:white; 
                    border-radius:25px;
                    margin-left:25px">
            <!-- Content Header (Page header) -->
            <section class="content container-fluid">
                @RenderBody()


            </section>
        </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer text-left" style="background-color:#EEEEEE">
            <strong>
@*                 Copyleft &copy; 2014-2017 <a href="https://adminlte.io">Almsaeed Studio</a> & <a href="http://hosseinizadeh.ir/adminlte">Alireza Hosseinizadeh</a>
 *@            </strong>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">فعالیت ها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">تولد غلوم</h4>

                                    <p>۲۴ مرداد</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">پیشرفت کارها</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    آپدیت لاراول
                                    <span class="pull-left-container">
                                        <span class="label label-danger pull-left">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">تب وضعیت</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                گزارش کنترلر پنل
                                <input type="checkbox" class="pull-left" checked>
                            </label>

                            <p>
                                ثبت تمامی فعالیت های مدیران
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <script src="~/js/admin/jquery.min.js"></script>
    <script src="~/js/admin/bootstrap.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
       Both of these plugins are recommended to enhance the
       user experience. -->
</body>

</html>