@{
    ViewData["SelectedHome"] = "ContactUs";
}
<style>
    .contactHeader {
        text-align: center;
    }
</style>
<div class="body-default container">
    <div class="contactHeader">
        <h2 class="header-default">تماس با ما</h2>
        <p>جهت ارتباط با انجمن می‌توانید با شماره‌های زیر تماس حاصل نمایید </p>
    </div>
    <div>
        <h2>مسیرهای ارتباطی</h2>
        <div class="row mt-2">
            <div class="col-md-1 my-2">
                <i class="fa fa-location-arrow fa-3x"></i>
            </div>
            <div class="col-md-4 my-2">
                <h6>آدرس</h6>
                <span>تهران، خیابان مطهری، بین مفتح و سلیمان خاطر، پلاک 174، طبقه 4</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1 my-2">
                <i class="fa fa-phone-square fa-3x"></i>
            </div>
            <div class="col-md-4 my-2">
                <h6>شماره تماس</h6>
                <span>02191304826</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1 my-2">
                <i class="fa fa-calculator fa-3x"></i>
            </div>
            <div class="col-md-4 my-2">
                <h6>رسانه اجتماعی</h6>
                <span>09929123424</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1 my-2">
                <i class="fa fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-4 my-2">
                <h6>ایمیل</h6>
                <span>info@amomi.com</span>
            </div>
        </div>
    </div>
</div>