<!DOCTYPE html>
<html dir="rtl"  lang="fa-IR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="Responsive one page HTML template">
    <meta name="author" content="Netcopy">
    <title>@ViewData["Title"] - WebSite.EndPoint</title>
@*     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
 *@    <!-- BOOTSTRAP CSS -->
    <!-- FONTAWESOME CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css" type="text/css" />
    <!-- LIGHTBOX CSS -->
    <link rel="stylesheet" href="~/css/lightbox.min.css" type="text/css" />
    <!-- YTPLAYER CSS -->
    <link rel="stylesheet" href="~/css/mb.YTPlayer.min.css" type="text/css" />
    <!-- FLATICON CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css" />
    <!-- BOOTSTRAP VALIDATOR CSS -->
    <link rel="stylesheet" href="~/css/validator.min.css" type="text/css" />


    @await RenderSectionAsync("CSS", required: false)
</head>
<body data-spy="scroll" data-offset="62">

    <!-- Fixed Navbar -->
    <nav class="navbar navbar-sticky navbar-transparent">
        <!-- Navbar Transparent Class: navbar-transparent -->
        <div style="display:flex;" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="float : right;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand primary-logo" style="max-width : 250px;" href="https://ampmi.com/"><img class="img-responsive" src="~/images/logo01.png" alt="Logo" /></a>
                <a class="navbar-brand sticky-logo" style="max-width : 250px;" href="https://ampmi.com/"><img class="img-responsive" src="~/images/logo01.png" alt="Logo" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#home">صفحه اصلی</a></li>
                    <li><a href="#about">قطعه سازان</a></li>
                    <li><a href="#service">اخبار انجمن</a></li>
                    <li><a href="#portfolio">درباره ما</a></li>
                    <li><a href="#plans">تماس با ها</a></li>
                    <li><a href="#blog">راهنمای ثبت‌ نام</a></li>
                </ul>
            </div>
            <div style="display : flex; align-items:center; margin-right : auto;"class="whb-column whb-col-right whb-visible-lg">
                <link rel="stylesheet" id="wd-woo-mod-login-form-css" href="https://ampmi.com/wp-content/themes/woodmart/css/parts/woo-mod-login-form.min.css?ver=7.5.3.0.0.1" type="text/css" media="all"> 
                <div style="text-align:left;" class="wd-header-my-account wd-tools-element wd-event-hover wd-design-6 wd-account-style-icon whb-2b8mjqhbtvxz16jtxdrd">
                    <a href="https://ampmi.com/my-account/" title="حساب کاربری من">
@* 
                        <span class="wd-tools-icon">
                        </span> *@
                        <i style="color:white;" class="fa fa-user " aria-hidden="true"></i>
@* 
                        <span class="wd-tools-text">
                            ورود / فرم ثبت نام
                        </span> *@

                    </a>

                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="main-wrap">
        @RenderBody()
    </div>
    <!-- Contact Section Start -->
    <section style=" border-style: solid;border-width: 2px 0px 0px 0px; border-color: #09b9bb;" class="contact-section" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4" style="float : right;">
                    <p style="text-align : justify;">
                        هیئت مدیره انجمن تولیدکنندگان قطعات مجموعه های موتورسیکلت و دوچرخه با دعوت از کلیه فعالان صنعتی در این بخش جهت حضور و مـشارکت فعال در ساماندهی انجمن و تشکیل کارگروهـهای لازم و عقـدقراردادهای تاَمین قطعـات با سازندگان موتورسـیکلت و دوچرخه ، تقاضای استفاده مؤثر و حداکثری از شرایط بسیار مساعد پیش رو را درخواست می نماید.
                    </p>
                </div>
                <div class="col-sm-4" style="float : right;">

                    <h4 style="margin-top:0;">

                        لینک های مهم
                    </h4>

                    <ul class="sub-sub-menu contact-mail" style="list-style-type : none; padding-right:0;">

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/">

                                صفحه اصلی
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/%d8%aa%d9%85%d8%a7%d8%b3-%d8%a8%d8%a7-%d9%85%d8%a7/">

                                تماس با ما
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/%d8%af%d8%b1%d8%a8%d8%a7%d8%b1%d9%87-%d9%85%d8%a7/">

                                درباره ما
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/store-listing/">

                                قطعه سازان
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contact-number col-sm-4" style="float : right;">
                    <h4 style="margin-top:0;">

                        دسترسی های کاربر
                    </h4>

                    <ul class="sub-sub-menu" style="list-style-type : none;padding-right:0;">

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/my-account/">

                                ثبت نام
                            </a>
                        </li>

                        <li class="item-with-label item-label-primary">
                            <a href="https://ampmi.com/my-account/">

                                ورود
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

@*     <div class="container">
        <main role="main" class="pb-3">
        </main>
    </div> *@

    <footer class="border-top footer text-muted">
        <div class="container">
            تمامی حقوق متعلق به انجمن قطعه سازان موتور سیکلت ایران می‌باشد.
        </div>
    </footer>
    <!-- .main-wrap -->
    <!-- JQUERY LIBRARY -->
    <script src="~/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- APPEARS JS -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- EASING JS -->
    <script src="~/js/jquery.easing.min.js"></script>
    <!-- STELLAR JS -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- COUNTER JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- ISOTOPE JS -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- LIGHTBOX JS -->
    <script src="~/js/lightbox.min.js"></script>
    <!-- YTPLAYER JS -->
    <script src="~/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- BOOTSTRAP VALIDATOR JS -->
    <script src="~/js/validator.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
