@model WebSite.EndPoint.Areas.Admin.Models.Company.CompanyVM
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<style>
    .prevImage {
        width: 100%;
        height: 100%;
    }

    .btn.btn-submit {
        color: white !important; /* همیشه متن سفید باشد */
    }

        .btn.btn-submit:hover {
            color: white !important; /* در حالت هاور هم سفید بماند */
        }
</style>

<div class="container-fluid">
    <div class="pageName">
        @if (ViewData["error"] is not null)
        {
            <div class="row">
                <p style="color:red;">@ViewData["error"]?.ToString()</p>
            </div>
        }
        <span class="textPage">
            <a asp-area="Admin" asp-controller=User asp-action=UserList>
                لیست کاربران
            </a>
            > تعریف/ویرایش کاربران
        </span>
    </div>
    <div>
        <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
    </div>
    <div class="mt-2">
        <form enctype="multipart/form-data" id="saveForm" asp-area="Admin" asp-action="EditUser" asp-controller="User" method="post">
            <div class="row mt-2 userEditRow">
                <div class="col-md-6 my-2">
                    <div class="form-check d-flex align-items-center">
                        <input asp-for="IsCompany" class="form-check-input me-2" type="checkbox" id="CisCompany" />
                        <label for="CisCompany" class="form-check-label mb-0">تغییر نقش به تولید کننده</label>
                    </div>
                </div>
            </div>
            <input asp-for="Id" type="hidden" />
            <input type="hidden" asp-for="LogoRout" />
            <input type="hidden" asp-for="BannerRout" />
            <div class="row">
                <div class="col-md-6 my-2">
                    <label for="Cname" class="labelText">نام شرکت</label>
                    <input asp-for="Name" class="labelText input-text" type="text" id="Cname" />
                </div>
                <div class="col-md-6 my-2">
                    <label for="CFoundername" class="labelText">نام مدیر عامل</label>
                    <input asp-for="ManagerName" class="labelText input-text" type="text" id="CFoundername" />
                </div>
                <div class="col-md-6 my-2">
                    <label for="CMobile" class="labelText">شماره موبایل</label>
                    <input asp-for="MobileNumber" class="labelText input-text" type="text" id="CMobile" />
                </div>
                <div class="col-md-6 my-2">
                    <label for="CEmail" class="labelText">ایمیل</label>
                    <input asp-for="Email" class="labelText input-text" type="text" id="CEmail" />
                </div>
                <div class="col-md-6 my-2">
                    <label for="CTel" class="labelText">تلفن</label>
                    <input asp-for="Tel" class="labelText input-text" type="text" id="CTel" />
                </div>
                <div class="col-md-6 my-2">
                    <label for="CAddress" class="labelText">آدرس</label>
                    <textarea asp-for="Address" id="CAddress" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CBrands" class="labelText">برندهای زیر مجموعه</label>
                    <textarea asp-for="Brands" id="CBrands" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CCollab" class="labelText">همکاری با شرکت‌های</label>
                    <textarea asp-for="Partnership" id="CCollab" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CCapacity" class="labelText">ظرفیت تولید</label>
                    <textarea asp-for="Capacity" id="CCapacity" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CGrade" class="labelText">گرید کیفی</label>
                    <textarea asp-for="QualityGrade" id="CGrade" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CIso" class="labelText">استاندارد و ایزوهای اجباری و تشویقی</label>
                    <textarea asp-for="Iso" id="CIso" class="input-text"></textarea>
                </div>
                <div class="col-md-6 my-2">
                    <label for="CAbout" class="labelText">درباره شرکت</label>
                    <textarea asp-for="About" id="CAbout" class="input-text"></textarea>
                </div>
            </div>

            <div class="row mt-2 userEditRow">

                <div class="col-md-6 my-2" style="margin-top:25px;">
                    <div class="col-sm-5 upBtn">
                        <button type="button" class="btn btn-submit btnUpload" onclick="getfileLogo()">بارگذاری تصویر</button>
                        <input asp-for="Logo" id="getfileLogo" style="display:none" class="form-control-file" type="file" accept="image/*">
                    </div>
                    <div id="previewLogo" class="col-sm-2 ShowPic">
                        @if (Model != null && !string.IsNullOrEmpty(Model.LogoRout))
                        {
                            <img class="prevImage" src="@Model.LogoRout" />
                        }
                    </div>
                    <input id="IsLogoChanged" type="hidden" asp-for="IsLogoChanged" />

                    <div class="col-sm-2">
                        <a href="#" id="deleteLogo"><img class="img-Icon" src="~/images/recycle.png" /></a>
                    </div>

                </div>
                <div class="col-md-6 my-2" style="margin-top:25px;">
                    <div class="col-sm-5 upBtn">
                        <button type="button" class="btn btn-submit btnUpload" onclick="getfileBanner()">بارگذاری بنر</button>
                        <input asp-for="Banner" id="getFileBanner" style="display:none" class="form-control-file" type="file" accept="image/*">
                    </div>
                    <div id="previewBanner" class="col-sm-2 ShowPic">
                        @if (Model != null && !string.IsNullOrEmpty(Model.BannerRout))
                        {
                            <img class="prevImage" src="@Model.BannerRout" />
                        }
                    </div>
                    <input id="IsBannerChanged" type="hidden" asp-for="IsBannerChanged" />

                    <div class="col-sm-2">
                        <a href="#" id="deleteBanner"><img class="img-Icon" src="~/images/recycle.png" /></a>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <div class="row mt-2">
                <div class="col-md-4 my-2">
                    <a href="#" class="btn btn-submit btn-block text-white">گالری تصاویر</a>
                </div>
                <div class="col-md-4 my-2">
                    <a href="@Url.Action("EditTeaserAdmin", "CompanyProfile", new{area="Company", id = Model.Id})" class="btn btn-submit btn-block text-white">تیزر تبلیغاتی</a>
                </div>
                <div class="col-md-4 my-2">
                    <a href="#" class="btn btn-submit btn-block text-white">محصولات</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        function getfileLogo()
        {
            document.querySelector('#getFileLogo').click();
        }
        function getfileBanner()
        {
            document.querySelector('#getFileBanner').click();
        }

                $("#getFileLogo").on('change',function(){
            const file = this.files[0];

            if (file)
            {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // ایجاد یا جایگزینی تصویر در باکس
                    const img = $("<img>")
                    .attr("src", e.target.result)
                    .addClass("img")
                    .addClass("prevImage");

                    $("#previewLogo").empty().append(img);
                };
                reader.readAsDataURL(file);

                $("#IsLogoChanged").val(true);

            } else {
                $("#previewLogo").html("پیش‌نمایش");
            }
        });

        $("#getFileBanner").on('change',function(){
            const file = this.files[0];

            if (file)
            {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // ایجاد یا جایگزینی تصویر در باکس
                    const img = $("<img>")
                    .attr("src", e.target.result)
                    .addClass("img")
                    .addClass("prevImage");

                    $("#previewBanner").empty().append(img);
                };
                reader.readAsDataURL(file);

                $("#IsBannerChanged").val(true);

            } else {
                $("#previewBanner").html("پیش‌نمایش");
            }
        });



        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });

        $("#deleteLogo").click(function(event) {
            event.preventDefault();
            $("#previewLogo").html("");
            $("#getFileLogo").val("");
            $("#IsLogoChanged").val(true); // changed - deleted
        });

        $("#deleteBanner").click(function(event){
            event.preventDefault();
            $("#previewBanner").html("");
            $("#getFileBanner").val("");
            $("#IsBannerChanged").val(true); // changed - deleted
        });
    </script>
}
