@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">لیست کاربران</span>
    </div>
    <div class="row">
        <a href="@Url.Action("EditUser","User")" id="new"> <img class="img-Icon" src="~/images/addition copy.png" /> </a>
    </div>
    <div class="row">
        <table id="myTable" class="display tbStyle">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام شرکت</th>
                    <th>ایمیل</th>
                    <th>شماره موبایل</th>
                    <th>نقش</th>
                    <th>درخواست تأمین کننده</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-Icon">1</td>
                    <td>نام ا</td>
                    <td>First@gmail.com</td>
                    <td>09124332121</td>
                    <td>کاربر</td>
                    <td class="td-Icon"><input type="checkbox"></td>
                    <td class="td-Icon">
                        <a href="@Url.Action("EditUser","User")">
                            <img class="img-Icon" src="~/images/editing.png" />
                        </a>
                    </td>
                    <td class="td-Icon">
                        <a href="">
                            <img class="img-Icon" src="~/images/recycle.png" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="td-Icon">2</td>
                    <td>نام 2</td>
                    <td>Second@gmail.com</td>
                    <td>09124332555</td>
                    <td>تولید کننده</td>
                    <td class="td-Icon"><input type="checkbox"/></td>
                    <td class="td-Icon">
                        <a href="@Url.Action("EditUser","User")">
                            <img class="img-Icon" src="~/images/editing.png" />
                        </a>
                    </td>
                    <td class="td-Icon">
                        <a href="">
                            <img class="img-Icon" src="~/images/recycle.png" />
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
          document.querySelector('#myTable')
            .setAttribute('dir', 'rtl'); // Demo only

        new DataTable('#myTable');

    </script>


}