@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
}
<div class="container-fluid">
    <p>اعلان ها</p>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4 >پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p> مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد 

            </p>
            @* TODO : Ask Farshid How to Show More with viewModel *@
            <p hidden class="more"> 
                  صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>
    <div class="row my-2 parent" style="border: 2px solid black;padding:20px;margin-bottom: 30px;">
        <div style="display: flex;justify-content: space-between;">
            <h4>پروفایل خود را کامل کنید</h4>
            <div>
                <p>
                    <i class="fa fa-calendar"></i>
                    1403, 4 دی
                </p>
            </div>
        </div>
        <div class="notifContent">
            <p>
                مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد

            </p>
            <p hidden class="more">
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </p>
        </div>
        <hr />
        <div style="float:left;">
            <button onclick="ShowMore(this)" class="btn btn-primary">نمایش بیشتر</button>
        </div>
    </div>

</div>
@section Scripts
{
    <script>
        function ShowMore(button){
            const parent = $(button).closest(".parent");
            if(parent!=null){
                const moreBox = parent.children(".notifContent").children(".more");
                moreBox.show();
                $(button).hide();
            }
        }

        // function ShowMore() {
        //     var dots = document.getElementById("dots");
        //     var moreText = document.getElementById("more");
        //     var btnText = document.getElementById("myBtn");

        //     if (dots.style.display === "none") {
        //       dots.style.display = "inline";
        //       btnText.innerHTML = "Read more";
        //       moreText.style.display = "none";
        //     } else {
        //       dots.style.display = "none";
        //       btnText.innerHTML = "Read less";
        //       moreText.style.display = "inline";
        //     }
        // }
    </script>
}