@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
    ViewData["SelectedCompany"] = "Teaser";
}

<div class="contaienr">
    <div class="pageName">
        <span class="textPage">تیزر تبلیغاتی</span>
    </div>
    @if (ViewData["msg"] is not null)
    {
        <div class="row pageMargin">
            <p style="color:red;">@ViewData["msg"].ToString()</p>
        </div>
    }
    <div>
        @* <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a> *@
    </div>
    <div id="newForm" class="pageMargin">
        <form id="saveForm" asp-area="Company" asp-controller="CompanyProfile" asp-action="EditTeaser" enctype="multipart/form-data" method="post">
            <div class="form-group row">
                <div class="col-sm-2 upBtnProduct">
                    <button type="button" class="btn-submit btnUpload" onclick="getfile()">بارگذاری تیزر</button>
                    <input id="GetFile" style="display:none" name="teaser" type="file" accept="video/*" />
                </div>
                <div class="col-sm-2">  
                    <video src="@(ViewData["src"]!=null?ViewData["src"]:"")" muted id="videoPreview" controls style="width : 100%; height:100%;" width="600">
                        مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
                    </video>
                </div>
                <div class="col-sm-8">
                    @if (ViewData["src"] is not null && ViewData["src"]!=""){
                        <a href="@Url.Action("DeleteTeaser","CompanyProfile",new{area="Company"})" id="cancle"><img class="img-Icon" src="~/images/recycle.png" /></a>
                        <br />
                    }else{
                        <a href="#" onclick="DeleteVideo()" id="cancle"><img class="img-Icon" src="~/images/recycle.png" /></a>
                        <br />
                    }
                    <sapn>حداکثر حجم مجاز جهت بارگذاری فایل 20 مگابایت است.</sapn><br/>
                    <sapn>توجــــــه: فقط 5 ثانیه اول ویدیو در این بخش قابل مشاهده است.</sapn>
                </div>
            </div>
            <div>
                <div class="row mt-2">
                    <div class="col-md-5 my-2" style="display: ruby;">
                        <a style="text-align:center; width:100px" href="#" id="save" class="text-black btn-submit btn-block">
                            <span style="color:white;">ذخیره</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>

        function getfile () {
            document.querySelector('#GetFile').click();
        }

        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });

        function DeleteVideo(){
            $("#GetFile").val("");
            $('#videoPreview').attr('src', ''); // حذف منبع ویدئو
            $('#videoPreview')[0].load(); // بازنشانی ویدئو
        }


        $('#GetFile').on('change', function (event) {
            const videoFile = event.target.files[0]; // فایل انتخاب شده توسط کاربر
            const videoPreview = $('#videoPreview')[0]; // دریافت عنصر ویدئو
            if (videoFile) {
                const fileURL = URL.createObjectURL(videoFile); // ایجاد URL موقت از فایل
                videoPreview.src = fileURL; // تنظیم URL به عنوان منبع ویدیو
                videoPreview.load(); // بارگذاری ویدیو

                // رویداد timeupdate برای کنترل حلقه ۵ ثانیه‌ای
                $(videoPreview).on('timeupdate', function () {
                    if (videoPreview.currentTime >= 5) {
                        videoPreview.currentTime = 0; // بازگشت به ثانیه ۰
                        videoPreview.play(); // شروع دوباره پخش
                    }
                });

                videoPreview.play(); // شروع پخش خودکار
            }
        });

    </script>
}