@{
    Layout = "~/Areas/Company/Views/Shared/_layout.cshtml";
}

<div class="contaienr">
    @if (ViewData["msg"] is not null)
    {
        <div class="row">
            <p style="color:red;">@ViewData["msg"].ToString()</p>
        </div>
    }
    <div>
        <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
    </div>
    <div  id="newForm" style="margin-top:20px;">
        <form id="saveForm" asp-area="Company" asp-controller="CompanyProfile" asp-action="EditTeaser" enctype="multipart/form-data" method="post">
            <div class="form-group row">
                <div class="col-sm-2 upBtn">
                    <button class="btn-submit btnUpload" onclick="getfile()">بارگذاری تیزر</button>
                    <input value="@ViewData["src"]" id="getFile" style="display:none" class="form-control-file" type="file" name="teaser" accept="video/*">
                </div>
                <div class="col-sm-2 ShowPic"></div>
                <div class="col-sm-4">
                    <a href="@Url.Action("CompanyProfile","DeleteTeaser",new{area="Company"})" id="cancle"><img class="img-Icon" src="~/images/recycle.png" /></a><br />
                    <sapn>حداکثر حجم مجاز جهت بارگذاری فایل 20 مگابایت است.</sapn>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>

        function getfile () {
            document.querySelector('#getFile').click();
        }

        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });

    </script>
}