@model WebSite.EndPoint.Areas.Admin.Models.Banner.MultiBannerViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

@section CSS
{
    <style>
        .menuIcon {
            width: 30px;
            height: 30px;
            margin-left: 5px;
        }

        .btnUpload {
            width: 100%;
        }

        .uploadDiv {
            margin-top: 100px;
        }

        .uploadDiv1 {
            margin-top: 10px;
        }
    </style>
}

<!-- Banner Menu -->
<div class="pageName">
    <span class="textPage">بنرتبلیغاتی</span>
</div>
<div>
    <a href="#" onclick="document.getElementById('bannerForm').submit();">
        <img class="img-Icon" src="~/images/diskette copy.png" />
    </a>
</div>

<form id="bannerForm" asp-area="Admin" asp-action="SaveBanners" asp-controller="Banner" method="post" enctype="multipart/form-data">
    <div class="row uploadDiv">
        <div class="col-md-3 my-2">
            <button type="button" class="btn btn-submit btnUpload" onclick="document.getElementById('Banner1').click();">بارگذاری ویدیو اول</button>
            <input type="file" id="Banner1" name="Banner1" style="display:none" accept="audio/*,video/*,image/*" onchange="showFileName(this, 'videoPreview1')" />
        </div>
        <div class="col-md-2 my-2">
            <video src="@Model.rout1" muted id="videoPreview1" controls style="width : 100%; height:100%;" width="600">
                مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
            </video>
       </div>
        <div class="col-md-2 my-2">
            <a href="#" onclick="removeVideo(this)">
                <img class="img-Icon" src="~/images/recycle.png" />
            </a>
        </div>
    </div>

    <div class="row uploadDiv">
        <div class="col-md-3 my-2">
            <button type="button" class="btn btn-submit btnUpload" onclick="document.getElementById('Banner2').click();">بارگذاری ویدیو دوم</button>
            <input type="file" id="Banner2" name="Banner2" style="display:none" accept="audio/*,video/*,image/*" onchange="showFileName(this, 'videoPreview2')" />
        </div>
        <div class="col-md-2 my-2">
            <video src="@Model.rout2" muted id="videoPreview2" controls style="width : 100%; height:100%;" width="600">
                مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
            </video>
       </div>
        <div class="col-md-2 my-2">
            <a href="#" onclick="removeVideo(this)">
                <img class="img-Icon" src="~/images/recycle.png" />
            </a>
        </div>
    </div>

    <div class="row uploadDiv">
        <div class="col-md-3 my-2">
            <button type="button" class="btn btn-submit btnUpload" onclick="document.getElementById('Banner3').click();">بارگذاری ویدیو سوم</button>
            <input type="file" id="Banner3" name="Banner3" style="display:none" accept="audio/*,video/*,image/*" onchange="showFileName(this, 'videoPreview3')" />
        </div>
        <div class="col-md-2 my-2">
            <video src="@Model.rout3" muted id="videoPreview3" controls style="width : 100%; height:100%;" width="600">
                مرورگر شما از پخش ویدیو پشتیبانی نمی‌کند.
            </video>
       </div>
        <div class="col-md-2 my-2">
            <a href="#" onclick="removeVideo(this)">
                <img class="img-Icon" src="~/images/recycle.png" />
            </a>
        </div>
    </div>
</form>
@section Scripts
{
    <script>

        function showFileName(input, labelId) {
            if (input.files && input.files[0]) {
                const videoFile = input.files[0]; // فایل انتخاب شده توسط کاربر
                const videoPreview = document.getElementById(labelId); // دریافت عنصر ویدئو
                if (videoFile) 
                {
                    const fileURL = URL.createObjectURL(videoFile); // ایجاد URL موقت از فایل
                    videoPreview.src = fileURL; // تنظیم URL به عنوان منبع ویدیو
                    videoPreview.load(); // بارگذاری ویدیو

                    // رویداد timeupdate برای کنترل حلقه ۵ ثانیه‌ای
                    $(videoPreview).on('timeupdate', function () {
                        if (videoPreview.currentTime >= 5) {
                            videoPreview.currentTime = 0; // بازگشت به ثانیه ۰
                            videoPreview.play(); // شروع دوباره پخش
                        }
                    });

                    videoPreview.play(); // شروع پخش خودکار
                }

            }
        }

        function removeVideo(button) {
            const parent = $(button).closest(".uploadDiv");
            if(parent){
                const video = parent.find("video");
                if(video){
                    $(video).attr('src', ''); // حذف منبع ویدئو
                    // $(video).load(); // بازنشانی ویدئو
                }
                const input = parent.find("input");
                if(input){
                    $(input).val("");
                }
            }
        }
    </script>
}

