@model WebSite.EndPoint.Areas.Admin.Models.Category.CategoryEditVM
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section CSS
{
    <style>
        .prevImage {
            width: 100%;
            height: 100%;
        }
    </style>
}
<div class="container-fluid">
    @if (ViewData["Message"] is not null)
    {
        <div class="row">
            <p style="color:red;">@ViewData["Message"].ToString()</p>
        </div>
    }
    <div class="row">
        <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
        <a href="@Url.Action("CategoryList","Category")" id="cancle"><img class="img-Icon" src="~/images/cancel.png" /></a>
    </div>
    <form id="saveForm" asp-area="Admin" asp-controller="Category" asp-action="Save" enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PreviousPictureRout" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label input-Label">نام گروه اصلی:</label>
                        <div class="col-sm-9">
                            <input asp-for="Name" type="text" class="input-text">
                            <span class="text-danger" asp-validation-for=Name></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label input-Label">انتخاب تصویر:</label>
                    <div class="col-sm-5 upBtn">
                        <button type="button" class="btn-submit btnUpload" onclick="getfile()">بارگذاری تصویر</button>
                        <input asp-for="Picture" id="getFile" style="display:none" class="form-control-file" type="file" accept="image/*">
                    </div>
                    <span class="text-danger" asp-validation-for=Picture></span>
                    <div id="preview" class="col-sm-2 ShowPic">
                        @if (!string.IsNullOrEmpty(Model.PreviousPictureRout))
                        {
                            <img class="prevImage" src="@Model.PreviousPictureRout" />
                        }
                    </div>
                    <input id="isPictureChanged" type="hidden" asp-for="IsPictureChanged" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script>

        function getfile () {
            document.querySelector('#getFile').click();
        }

        $("#getFile").on('change',function(){
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // ایجاد یا جایگزینی تصویر در باکس
                    const img = $("<img>")
                    .attr("src", e.target.result)
                    .addClass("img")
                    .addClass("prevImage");

                    $("#preview").empty().append(img);
                };
                reader.readAsDataURL(file);

                $("#isPictureChanged").val(true);

            } else {
                $("#preview").html("پیش‌نمایش");
            }
        });

        var lastCategoryId=0;

        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });

    </script>

}