@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}


<div class="contaienr">
    <div>
        <a class="btn" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
    </div>
</div>
