@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "AboutUs";
}


<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">درباره ما</span>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">
            @TempData["Message"]
        </div>
    }

    <form id="saveForm" method="post" action="@Url.Action("SaveAboutUs", "AboutUs")">
        @Html.AntiForgeryToken()
        <div class="row">
            <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a>
        </div>
        <div class="row">
            <textarea id="editAboutUs" name="content" style="display: none;">@Html.Raw(ViewBag.AboutUsContent)</textarea>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
      
        var editor = new RichTextEditor("#editAboutUs");
        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });
        $("form").on("submit", function () {
            var content = editor.getHTML();
            $("#editAboutUs").val(content);
        });
    </script>
}