@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "AboutUs";
}


<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">درباره ما</span>
    </div>
    @if (TempData["Message"] != null)
    {
        <div id="tempMessage" class="alert alert-info pageMargin">
            @TempData["Message"]
        </div>

        
    }

    <form class="pageMargin" id="saveForm" method="post" action="@Url.Action("SaveAboutUs", "AboutUs")">
        @Html.AntiForgeryToken()
        <div class="row">
            @* <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a> *@
        </div>
        <div class="row">
            <textarea id="editAboutUs" name="content" class="notDisplay">@Html.Raw(ViewBag.AboutUsContent)</textarea>
        </div>
        <div>
            <div class="row mt-2 pageMargin">
                <div class="col-md-5 my-2 rubyDisplay">
                    <a href="#" id="save" class="text-black btn-submit btn-block a-btn">
                        <span class="text-btn">ذخیره</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
      
        var editor = new RichTextEditor("#editAboutUs");
        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });
        $("form").on("submit", function () {
            var content = editor.getHTML();
            $("#editAboutUs").val(content);
        });
        setTimeout(function() {
                var msg = document.getElementById("tempMessage");
                if (msg) {
                    msg.style.display = "none";
                }
            }, 5000);
    </script>
}