@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
    ViewData["SelectedAdmin"] = "AboutUs";
}


<div class="container-fluid">
    <div class="pageName">
        <span class="textPage">درباره ما</span>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info pageMargin">
            @TempData["Message"]
        </div>
    }

    <form class="pageMargin" id="saveForm" method="post" action="@Url.Action("SaveAboutUs", "AboutUs")">
        @Html.AntiForgeryToken()
        <div class="row">
            @* <a href="#" id="save"><img class="img-Icon" src="~/images/diskette copy.png" /></a> *@
        </div>
        <div class="row" style="margin-top:10px;">
            <textarea id="editAboutUs" name="content" style="display: none;">@Html.Raw(ViewBag.AboutUsContent)</textarea>
        </div>
        <div>
            <div class="row mt-2" style="margin-top:10px;">
                <div class="col-md-5 my-2" style="display: ruby;">
                    <a style="text-align:center; width:100px" href="#" id="save" class="text-black btn-submit btn-block">
                        <span style="color:white;">ذخیره</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
      
        var editor = new RichTextEditor("#editAboutUs");
        $("#save").click(function(event){
            event.preventDefault();
            $("#saveForm").submit();
        });
        $("form").on("submit", function () {
            var content = editor.getHTML();
            $("#editAboutUs").val(content);
        });
    </script>
}