@{
    ViewData["Title"] = "Home Page";
}

    <!-- TITLE-->
    <!-- FAV ICON -->
@*     <link rel="shortcut icon" href="images/favicon.ico" type="text/css" />
 *@

    @section CSS
    {
        <!-- THEME STYLE CSS -->
        <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    }

    <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
    <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->



    <!-- Page Loader -->
    <div class="page-loader"></div>

<!-- Theme Header Start -->
<header id="home" class="full-height bg-img" data-src="/images/backgrounde.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="section-title">
                            <h1 class="section-title-divider animated zoomIn">انجمن قطعه‌سازان موتورسیکلت ایران</h1>
                            <p>Association of Motorcycle Parts Manufacturers in iran</p>
                        </div>
                        <div class="row">
                            <div style="display : flex;" class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                                <div class="subscribe-form">
                                    <p id="subscribe-status-msg" class="hide"></p>
                                    <form id="subscribe-form" class="subscribe-form" action="#">
                                        <div class="input-group subscribe-box">
                                            <input type="text" style="border-radius : 0; border-top-right-radius : 25px; border-bottom-right-radius: 25px;" class="form-control" name="mcemail" autocomplete="off" id="mcemail" placeholder="ایمیل شما">
                                            <span class="input-group-btn">
                                                <button style=" border-top-left-radius: 25px;border-bottom-left-radius: 25px; border-top-right-radius: 0;border-bottom-right-radius: 0;" class="btn btn-default white-border typo-gray subscribe-btn" type="submit">
                                                    عضویت
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Theme Header End -->
<!-- Service Section Start -->
<section class="padding-bottom-50" id="service">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">دسته بندی موتور سیکلت</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
        </div>
        <div class="row service-box-wrap">
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-screen-1"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">طراحی وب</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-smartphone"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">توسعه اپلیکیشن</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">دیجیتال مارکتینگ</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-star"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">برندینگ</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
<!-- Banner Section Start -->
<section class="padding-bottom-50" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">بنر</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-0">
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-cubes"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">طراحی UX</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-desktop"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">طراحی UI</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-bar-chart"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">کنترل کیفیت</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-0">
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-fighter-jet"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">پشتیبانی سئو</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-server"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">نگهداری سرور</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-code"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">توسعه کد</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Service Section Start -->
<section class="padding-bottom-50" id="service2">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">قطعه سازان</h2>
                </div>
            </div>
        </div>
        <div class="row service-box-wrap">
            <div class="col-md-3 col-sm-6 service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-screen-1"></i>
                    </div>
                    <a>طرح کلیک</a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-smartphone"></i>
                    </div>
                    <a>طرح باکسر</a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                    <a>طرح آیروکس</a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-star"></i>
                    </div>
                    <a>هندا CDi</a>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
<!-- Blog Section Start -->
<section class="padding-bottom-50" id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">آخرین مطالب</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-0">
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-1.jpg" title="Jack" class="img-responsive" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Author" class="author">مدیر</a></li>
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                                <li><a href="#" title="Comments" class="comment">4</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-default btn-xl btn-normal margin-top-20" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-2.jpg" title="Jack" class="img-responsive" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Author" class="author">مدیر</a></li>
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                                <li><a href="#" title="Comments" class="comment">4</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-default btn-xl btn-normal margin-top-20" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-3.jpg" title="Jack" class="img-responsive" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Author" class="author">مدیر</a></li>
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                                <li><a href="#" title="Comments" class="comment">4</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-default btn-xl btn-normal margin-top-20" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Subsribe Section Start -->
<section class="section-parallax" data-src="/bg/7.jpg" data-stellar-background-ratio="0.5">
    <span class="overlay-section-bg black-section-bg"></span>
    <div class="container section-typo-white">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                <div class="subscribe-form">
                    <p id="subscribe-status-msg" class="hide"></p>
                    <form id="subscribe-form" class="subscribe-form" action="#">
                        <div class="input-group subscribe-box">
                            <input type="text" class="form-control" name="mcemail" autocomplete="off" id="mcemail" placeholder="ایمیل شما">
                            <span class="input-group-btn">
                                <button class="btn btn-default white-border typo-gray subscribe-btn" type="submit">عضویت</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subsribe Section End -->


    @section Scripts
    {
        <!-- THEME JS -->
        <script src="~/js/theme.js"></script>
    }

