@{
    ViewData["Title"] = "Home Page";
}


<!-- Page Loader -->
<div class="page-loader"></div>

<!-- Theme Header Start -->
<header id="home" class="full-height bg-img" data-src="/images/backgrounde.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="section-title">
                            <h1 style="font-size: xxx-large;" class="section-title-divider animated zoomIn">انجمن قطعه‌سازان موتورسیکلت ایران</h1>
                            <h4>Association of Motorcycle Parts Manufacturers in Iran</h4>
                        </div>
                        <div class="container">
                            <div class="text-right">
                                <div class="subscribe-form">
                                    <form id="subscribe-form" class="subscribe-form" action="#">
                                        <div class="input-group subscribe-box d-flex">
                                            <input type="text"
                                                   style="height:auto;border-radius: 0; border-top-right-radius: 25px; border-bottom-right-radius: 25px;"
                                                   class="form-control" name="mcemail" autocomplete="off" id="mcemail"
                                                   placeholder="نام موتور سیکلت، قطعه یا سازنده را جستجو نمایید ...">
                                            <div class="dropdown">
                                                <button class="btn btn-default dropdown-toggle" style="border-radius:0;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    انتخاب دسته‌بندی
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" href="#">آیروکس</a></li>
                                                    <li><a class="dropdown-item" href="#">باکسر</a></li>
                                                    <li><a class="dropdown-item" href="#">سی دی ای</a></li>
                                                    <li><a class="dropdown-item" href="#">کلیک</a></li>
                                                    <li><a class="dropdown-item" href="#">متفرقه</a></li>
                                                </ul>
                                            </div>




                                            <button style="padding: 14px 20px; border-radius:0; border-top-left-radius: 25px; border-bottom-left-radius: 25px;"
                                                    class="btn btn-default subscribe-btn" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Theme Header End -->
<!-- Service Section Start -->
<section class="padding-bottom-50" id="service">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">دسته بندی موتور سیکلت</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
        </div>
        <div class="row service-box-wrap">
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-screen-1"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">طراحی وب</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-smartphone"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">توسعه اپلیکیشن</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">دیجیتال مارکتینگ</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
            <div class="col-md-3 col-sm-6 service-box-col">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-star"></i>
                    </div>
                </figure>
                <h4 class="service-title title-bordered">برندینگ</h4>
                <p class="service-content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->
<!-- Banner Section Start -->
<section class="padding-bottom-50" id="features">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">بنر</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-0">
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-cubes"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">طراحی UX</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-desktop"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">طراحی UI</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-bar-chart"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">کنترل کیفیت</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom-0">
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-fighter-jet"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">پشتیبانی سئو</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-server"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">نگهداری سرور</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media feature-box">
                    <div class="media-left">
                        <span class="feature-icon">
                            <i class="fa fa-code"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">توسعه کد</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Service Section Start -->
<section class="padding-bottom-50" id="service2">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">قطعه سازان</h2>
                </div>
            </div>
        </div>
        <div style="direction : ltr;" class="owl-carousel">
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-screen-1"></i>
                    </div>
                    <a>طرح کلیک</a>
                </figure>
            </div>
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-smartphone"></i>
                    </div>
                    <a>طرح باکسر</a>
                </figure>
            </div>
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                    <a>طرح آیروکس</a>
                </figure>
            </div>
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-star"></i>
                    </div>
                    <a>هندا CDi</a>
                </figure>
            </div>
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                    <a>طرح آیروکس</a>
                </figure>
            </div>
            <div class=" service-box-col ">
                <figure>
                    <div class="service-image">
                        <i class="flaticon-snowflake"></i>
                    </div>
                    <a>طرح آیروکس</a>
                </figure>
            </div>

        </div>
    </div>
</section>

<!-- Service Section End -->
<!-- Blog Section Start -->
<section class="padding-bottom-50" id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">آخرین مطالب</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-1.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-2.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-3.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="padding-bottom-50" id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="section-title-divider primary-divider">آخرین مطالب</h2>
                    <!-- SECTION TITLE -->
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-1.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-2.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-wrap">
                    <div class="blog-image">
                        <img alt="" src="~/blog/blog-3.jpg" title="Jack" class="img-fluid" />
                    </div>
                    <div class="blog-data">
                        <div class="blog-meta">
                            <ul class="list-inline">
                                <li><a href="#" title="Date" class="date">5 شهریور 1400</a></li>
                            </ul>
                        </div>
                        <div class="blog-title">
                            <h3><a href="#" title="Title Here">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </a></h3>
                        </div>
                        <div class="blog-content">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </div>
                        <a class="btn btn-outline-secondary btn-xl mt-3" href="#">بیشتر بخوانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog Section End -->
@section Scripts
{
    <!-- THEME JS -->
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:4,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true
        });
    </script>
}

