<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='robots' content='noindex,nofollow,noarchive' />
    <meta name='referrer' content='strict-origin-when-cross-origin' />
    <title>انجمن سازندگان قطعات موتور سیکلت &rsaquo;ورود به سیستم</title>

    <link rel='stylesheet' id='digits-main-login-style-css' href='https://ampmi.com/wp-content/plugins/digits/assets/css/login_body.css?ver=8.3.2.3' type='text/css' media='all' />
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//unpkg.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <script type="text/javascript" src="https://ampmi.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="https://ampmi.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <link rel='stylesheet' id='dashicons-css' href='https://ampmi.com/wp-includes/css/dashicons.min.css?ver=471a2dffd41ce5af58202eabdaea5584' type='text/css' media='all' />
    <link rel='stylesheet' id='digits-login-style-css' href='https://ampmi.com/wp-content/plugins/digits/assets/css/login.min.css?ver=8.3.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='digits-style-css' href='https://ampmi.com/wp-content/plugins/digits/assets/css/main.min.css?ver=8.3.2.3' type='text/css' media='all' />

    <link rel='stylesheet' id='google-Roboto-css' href='https://fonts.googleapis.com/css?family=Roboto%3A900%2C700%2C500%2C500i%2C400%2C200%2C300&#038;ver=6.7' type='text/css' media='all' />

    <link rel="icon" href="https://ampmi.com/wp-content/uploads/2024/09/cropped-fav-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://ampmi.com/wp-content/uploads/2024/09/cropped-fav-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://ampmi.com/wp-content/uploads/2024/09/cropped-fav-180x180.png" />
    <meta name="msapplication-TileImage" content="https://ampmi.com/wp-content/uploads/2024/09/cropped-fav-270x270.png" />

</head>
<body>
    <div class="digits_login_form">
        <div class="dig_bdy_container ">
            <div class="dig_lrf_box digits_modal_box dig_ma-box dig_pgmdl_1" data-asterisk="0">
                <div class="header dark">
                    <a href="//ampmi.com/%D8%B1%D8%A7%D9%87%D9%86%D9%85%D8%A7%DB%8C-%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85/?redirect_to=https%3A%2F%2Fampmi.com%2F%25D8%25B1%25D8%25A7%25D9%2587%25D9%2586%25D9%2585%25D8%25A7%25DB%258C-%25D8%25AB%25D8%25A8%25D8%25AA-%25D9%2586%25D8%25A7%25D9%2585%2F">
                        <span>برگشت به سایت</span>
                    </a>
                </div>
                <div class="dig_clg_bx" style="opacity : 0">
                    <div class="dig_rtl dig-container dig_ma-box dark ">
                        <div class="digloginpage">
                            <form asp-action="Index" accept-charset="utf-8" class="digits_login" >
                                <div class="digits_fields_wrapper digits_login_fields">
                                    <div class="minput digits_login_field_row">
                                        <div class="minput_inner">
                                            <div class="countrycodecontainer logincountrycodecontainer">
                                                <input type="text" name="countrycode" class="input-text countrycode logincountrycode dark" value="+98" maxlength="6" size="3" placeholder="+98" autocomplete="tel-country-code" />
                                            </div>
                                            <div class="digits-input-wrapper">
                                                <input type="text" class="mobile_field mobile_format dig-mobmail" name="mobmail" value="" data-type="2" required />
                                            </div>
                                            <label>شماره موبایل</label>
                                            <span class="bgdark"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="login_page" value="1" />
                                    <div class="minput dig_login_otp" style="display: none;">
                                        <div class="minput_inner">
                                            <div class="digits-input-wrapper">
                                                <input type="text" name="dig_otp" class="dig-login-otp" autocomplete="one-time-code" />
                                            </div>
                                            <label>کد تایید</label>
                                            <span class="bgdark"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" class="dig_login_captcha" value="0">
                                    <input type="hidden" name="dig_nounce" class="dig_nounce" value="eeb062e4eb">
                                    <div class="digits_login_field_row">
                                        <div class="digits-form_input_row digits-form_rememberme">
                                            <div class="digits-form_input digits-field-type_tac">
                                                <div class="dig_opt_mult_con">
                                                    <div class="dig_opt_mult">
                                                        <label for="digits_login_remember_me101290653" class="">
                                                            <div class="dig_input_wrapper">
                                                                <input data-all="digits_login_remember_me" name="rememberme" class="not-empty digits_login_remember_me" id="digits_login_remember_me101290653" type="checkbox" value="1">
                                                                <div>مرا به خاطر بسپار</div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dig_spacer"></div>
                                
                                <div id="dig_login_va_otp" class=" lighte bgdark button digits_login_via_otp loginviasms loginviasmsotp">
                                    <input class="lighte bgdark button digits_login_via_otp loginviasms loginviasmsotp" type="submit" value="ورود با کد یکبارمصرف" />
                                </div>
                                <div class="dig_resendotp dig_logof_log_resend" id="dig_lo_resend_otp_btn" dis='1'>
                                    ارسال مجدد کد یکبار مصرف
                                    <span>
                                        (00:<span>30</span>
                                        )
                                    </span>
                                </div>
                                <input type="hidden" class="dig_submit_otp_text" value="ثبت کد تایید" />
                                <div class="signdesc">آیا حساب کاربری ندارید؟</div>
                                <div class="signupbutton transupbutton bgtransborderdark">ثبت نام</div>
                                <input type="hidden" name="digits_redirect_page" value="https://ampmi.com/%D8%B1%D8%A7%D9%87%D9%86%D9%85%D8%A7%DB%8C-%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85/" />
                            </form>
                        </div>
                        <input type="hidden" value="1" class="disable_email_digit" />
                        <input type="hidden" value="1" class="disable_password_digit" />
                        <div class="register">
                            <form accept-charset="utf-8" method="post" class="digits_register digits_native_registration_form" action="//ampmi.com/%D8%B1%D8%A7%D9%87%D9%86%D9%85%D8%A7%DB%8C-%D8%AB%D8%A8%D8%AA-%D9%86%D8%A7%D9%85/?login=true&amp;page=1&amp;redirect_to=https%3A%2F%2Fampmi.com%2F%25D8%25B1%25D8%25A7%25D9%2587%25D9%2586%25D9%2585%25D8%25A7%25DB%258C-%25D8%25AB%25D8%25A8%25D8%25AA-%25D9%2586%25D8%25A7%25D9%2585%2F&login=true">
                                <div class="dig_reg_inputs">
                                    <div class="digits_fields_wrapper digits_register_fields">
                                        <div id="dig_cs_mobilenumber" class="minput">
                                            <div class="minput_inner">
                                                <div class="countrycodecontainer registercountrycodecontainer">
                                                    <input type="text" name="digregcode" class="input-text countrycode registercountrycode  dark" value="+98" maxlength="6" size="3" placeholder="+98" required autocomplete="tel-country-code" />
                                                </div>
                                                <div class="digits-input-wrapper">
                                                    <input type="text" class="mobile_field mobile_format digits_reg_email" name="digits_reg_mail" data-type="2" value="" required />
                                                </div>
                                                <label>
                                                    شماره موبایل<span class="optional"></span>
                                                </label>
                                                <span class="bgdark"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div class="minput dig_register_otp" style="display: none;">
                                        <div class="minput_inner">
                                            <div class="digits-input-wrapper">
                                                <input type="text" name="dig_otp" class="dig-register-otp" value="" autocomplete="one-time-code" />
                                            </div>
                                            <label>کد تایید</label>
                                            <span class="bgdark"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="code" class="register_code" />
                                    <input type="hidden" name="csrf" class="register_csrf" />
                                    <input type="hidden" name="dig_reg_mail" class="dig_reg_mail">
                                    <input type="hidden" name="dig_nounce" class="dig_nounce" value="eeb062e4eb">
                                    <input type="hidden" class="digits_form_reg_fields" value="{&quot;dig_reg_name&quot;:&quot;0&quot;,&quot;dig_reg_uname&quot;:&quot;0&quot;,&quot;dig_reg_email&quot;:&quot;0&quot;,&quot;dig_reg_mobilenumber&quot;:&quot;2&quot;,&quot;dig_reg_password&quot;:&quot;0&quot;}" />
                                </div>
                                <div class="dig_spacer"></div>
                                <button class="lighte bgdark button dig-signup-otp registerbutton" value="ثبت نام" type="submit">ثبت نام</button>
                                <div class="dig_resendotp dig_logof_reg_resend" id="dig_lo_resend_otp_btn" dis='1'>
                                    ارسال مجدد کد یکبار مصرف
                                    <span>
                                        (00:<span>30</span>
                                        )
                                    </span>
                                </div>
                                <input type="hidden" class="dig_submit_otp_text" value="ثبت کد تایید" />
                                <div class="backtoLoginContainer">
                                    <a class="backtoLogin">برگشت به صفحه ورود به سایت</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="dig_load_overlay">
                    <div class="dig_load_content">
                        <div class="dig_spinner">
                            <div class="dig_double-bounce1"></div>
                            <div class="dig_double-bounce2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="digits_country_list_template">

        <ul class="digit_cs-list digits_scrollbar " style="display: none;" data-type="list"><li class="dig-cc-search-container search_field"><div class="dig-cc-search"><input autocomplete="off" placeholder="جستجو" type="text" class="countrycode_search regular-text" style="border-color: transparent !important"></div></li><li class="dig-cc-visible selected" value="98" data-country="iran" data-position="-4560px 0" data-country-code="IR"><span class="untdovr_flag_container"><span class="untdovr_flag_container_flag" style="background-position:-4560px 0"></span></span>Iran (+98)</li></ul>
    </script>
    <div id="digits_country_list_wrapper"></div>

    <script>
        var country_list_template = document.getElementById('digits_country_list_template').innerHTML;
        document.getElementById('digits_country_list_wrapper').innerHTML = country_list_template;

        if (document.getElementById('login_error')) {
            document.getElementById('user_login').value = '';
        }
    </script>

    @* <script type="text/javascript" src="https://unpkg.com/libphonenumber-js@1.10.18/bundle/libphonenumber-max.js" id="libphonenumber-mobile-js"></script> *@
    @* <script type="text/javascript" src="https://ampmi.com/wp-content/plugins/digits/assets/js/scrollTo.js?ver=8.3.2.3" id="scrollTo-js"></script> *@

    @* <script type="text/javascript" src="https://ampmi.com/wp-content/plugins/digits/assets/js/script.min.js?ver=8.3.2.3" id="digits-frontend-script-js"></script> *@

    @* <script type="text/javascript" src="https://ampmi.com/wp-content/plugins/digits/assets/js/main.min.js?ver=8.3.2.3" id="digits-main-script-js"></script> *@

    <script src="~/js/login.js"></script>
@*     <script type="text/javascript" src="https://ampmi.com/wp-content/plugins/digits/assets/js/login.min.js?ver=8.3.2.3" id="digits-login-script-js"></script>
 *@</body>
